---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Fira Sans',
                   'Source Han Sans',
                   'Source Han Sans JP',
                   'Noto Sans CJK',
                   'Noto Sans CJK JP',
                   'Yu Gothic',
                   'YuGothic',
                   'Hiragino Kaku Gothic Std',
                   'HGPGothicE',
                   sans-serif;
$code-font-family: 'Fira Mono',
                   //'Osaka-Mono',
                   'Droid Sans Mono',
                   monospace;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #000;
$background-color: #fff;
$brand-color:      #658DC6; // PANTONE 16-4032 TCX Provence
$brand-color-dark: #0F4C81; // PANTONE 19-4052 TCX Classic Blue

$grey-color:       #84898C; // PANTONE 17-4405 TCX Monument
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
@mixin media-query-vertical($device) {
    @media screen and (max-height: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
