---
layout: default
title: Archive
description: All posts sorted by published date
---
{% assign tags = site.tags | sort %}
<div class="archive">
  <h1>{{ page.title | escape }}</h1>
  <div class="archive-year-summary">
  {% assign year = nil %}{% assign month = nil %}
  {% for post in site.posts %}{% if post.date %}
    {% capture this_year %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% capture prev_year %}{{ post.previous.date | date: '%Y' }}{% endcapture %}
    {% if forloop.first %}
      <a href="#year{{ this_year }}">{{ this_year }}</a>
    {% elsif this_year != prev_year %}
      <a href="#year{{ this_year }}">{{ this_year }}</a>
    {% endif %}
  {% endif %}{% endfor %}
  </div>

  {% assign year = nil %}{% assign month = nil %}
  {% for post in site.posts %}{% if post.date %}
    {% capture this_year %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% capture this_month %}{{ post.date | date: '%m' }}{% endcapture %}
    {% capture prev_year %}{{ post.previous.date | date: '%Y' }}{% endcapture %}
    {% capture prev_month %}{{ post.previous.date | date: '%m' }}{% endcapture %}
    {% if forloop.first %}
    <ul class="archive-list">
      <li class="archive-year" id="year{{ this_year }}">{{ this_year }}
        <ul>
          <li class="archive-month">{{ this_year }}-{{ this_month }}
            <ul class="post-list">
    {% endif %}
              {% include postitem.html post=post %}
    {% if forloop.last %}
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    {% elsif this_year != prev_year %}
            </ul>
          </li>
        </ul>
      </li>
      <li class="archive-year" id="year{{ prev_year }}">{{ prev_year }}
        <ul>
          <li class="archive-month">{{ prev_year }}-{{ prev_month }}
            <ul class="post-list">
    {% elsif this_month != prev_month %}
            </ul>
          </li>
          <li class="archive-month">{{ prev_year }}-{{ prev_month }}
            <ul class="post-list">
    {% endif %}
  {% endif %}{% endfor %}
</div>
