@use 'variables' as *;

/*
 * Site Header
 */

.site-header {
  min-height: 56px;
  font-size: 150%;
}

.site-title, .site-nav .menu-icon, .site-nav .page-link {
  &, &:visited {
    color: $grey-color-dark;
    text-decoration: none;
  }
  &:hover {
    color: $grey-color-dark;
    text-decoration: underline;
  }
}

.site-title {
  font-weight: 800;
  letter-spacing: -1px;
}

.site-nav {
  float: right;
  .menu-icon {
    display: none;
  }
  .page-link {
    margin: 3px;
  }
}
@include media-query($on-palm) {
  .site-nav {
    position: absolute;
    top: 9px;
    right: $spacing-unit;
    text-align: right;

    .menu-icon {
      display: block;
      padding: 3px;
      &::before {
        content: '≡';
      }
      &, &:visited, &:hover {
        text-decoration: none;
        color: $text-color;
      }
    }
    .trigger {
      clear: both;
      display: none;
    }

    &:hover, &:focus-within {
      background-color: $background-color;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.13),
                  0 3px 9px 1px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(0, 0, 0, 0.23);
    }
    &:hover .trigger, .menu-icon:active + .trigger {
      display: block;
      padding: 10px;
    }
    .page-link {
      display: block;
      &, &:visited, &:hover {
        color: $text-color;
      }
    }
  }
}
@include vertical-writing {
  html.vertical-writing-recommended {
    .site-header {
      min-height: none;
      min-width: 56px;
      font-size: 150%;
    }
    @include media-query($on-palm) {
      .site-nav {
        position: static;
        top: none;
        right: none;
        border: 0px none;
        float: right;
        .menu-icon {
          display: none ! important;
        }
        .trigger, &:hover .trigger, .menu-icon:active + .trigger {
          display: block;
          padding: inherit;
          clear: none;
        }
        .page-link {
          display: inline ! important;
        }
      }
    }
  }
}

/*
 * Post list cards
 */
@supports ((display: -ms-flexbox) or (display: -webkit-flex) or (display: flex)) {
  .post-list {
    display: block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;

    .post-item {
      display: block;
      border: 5px solid $primary-color;
      width: 20%;
      margin: 2px;
      padding: 5px;
      overflow: hidden;

      &:has(:hover) {
        border-color: $active-link-color;
      }

      .post-link {
        display: block;
        color: $text-color;
        text-decoration: none;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;

        &:hover {
          color: $active-link-color;
        }
      }

      .post-meta {
        display: block;
        font-size: $small-font-size;
      }

      .post-title {
        display: block;
      }

      .post-thumb {
        display: block;
        object-fit: contain;
        height: 5em;
        margin: auto;
      }
      .post-thumb[data-image-path] {
        background-color: $grey-color-dark;
      }

      @include media-query($on-palm) {
        width: 100%;
        .post-thumb {
          display: none;
          visibility: hidden;
        }
      }
    }

    @include vertical-writing {
      html.vertical-writing-recommended & {
        /* As of Oct 2016, Firefox fails to render flex boxes within vertical-rl block. */
        display: block;

        .post-item {
          width: auto;
          height: 100%;

          .post-thumb {
            display: none;
            visibility: hidden;
          }
        }
      }
    }
  }
}

/*
 * Home Layout
 */
.pagination {
  text-align: center;
  margin: $spacing-unit;
}

.pagination > * {
  margin: auto 0.2ex;
}

/*
 * Post Layout
 */

.post {
  .post-header {
    background-color: $primary-color;
    margin: $spacing-unit 0;
    line-height: 1.2;
    padding: 15px;

    @include media-query(480px) {
      padding: 2px;
    }

    @include vertical-writing {
      html.vertical-writing-recommended & {
        margin: 0 $spacing-unit;
      }
    }

    .post-title {
      font-size: xx-large;
      font-weight: 800;
      letter-spacing: -1px;

      margin: $spacing-unit auto;
      @include vertical-writing {
        html.vertical-writing-recommended & {
          margin: auto $spacing-unit;
        }
      }
    }
    .post-meta {
      display: display;
      font-size: $small-font-size;
      text-align: right;

      .tag+.tag::before {
        display: inline-block;
        width: 0.5em;
        height: 0.5em;
        content: ' ';
      }
    }

    a {
      color: $text-color;
      text-decoration: none;

      &:hover {
        //color: $active-link-color;
        text-decoration: underline;
      }
    }
  }

  .post-footer {
    margin: 1em 1em $spacing-unit*2 1em;

    @include vertical-writing {
      html.vertical-writing-recommended & {
        margin: 1em 1em 1em $spacing-unit*2;
      }
    }
  }
}

/*
 * Post Content
 */
.post-content {
  h1, h2, h3, h4, h5, h6 {
    margin: 40px 0 20px 0;
  }
  h2, h3 {
    font-size: xx-large;
  }
  h4 {
    font-size: x-large;
  }
  h5 {
    font-size: large;
  }
  p {
    margin: 10px 0;
  }

  img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  @include media-query(480px) {
    .fitcontain {
      width: 100%;
      height: auto;
    }
  }
  //@include media-query($on-palm) {
  //}

  table:not([class]):not([style]) {
    border-collapse: collapse;
    margin: auto;

    td, th {
      border: 1px solid $grey-color-dark;
      padding: 2px;
    }
    thead, tfoot {
      background-color: $primary-color;
    }
    caption {
      text-align: center;
    }

    // HACK set to noborder to math table
    &:has(tbody:only-child > tr:only-child > td:first-child .MathJax_Preview),
    &:has(tbody:only-child > tr:only-child > td:first-child .MathJax_Preview) td {
      border: none;
    }
  }

  &:lang(ja) {
    text-align: justify;
    text-justify: inter-ideograph;

    > p {
      text-indent: 1em;
    }
    > pre+p, > math+p, > ul+p, > ol+p {
      text-indent: inherit ! important;
    }
    :not(:lang(ja)) {
      text-align: left;
    }
  }
  @include vertical-writing {
    html.vertical-writing-recommended & {
      &:lang(ja) {
        line-height: $long-line-height;
        pre, code {
          line-height: $base-line-height;
        }
      }

      h1, h2, h3, h4, h5, h6 {
        margin: 0 40px 0 20px;
      }
      p {
        margin: auto 10px;
      }
      .fitcontain {
        /* As of firefox 46, vertical-rl may conflict with object-fit. */
        object-fit: unset;
        width: auto;
        height: auto;
      }

      blockquote, math, > table, > figure {
        margin: auto 1px;
      }
      figure:not(.highlight) {
        writing-mode: horizontal-tb;
        -webkit-writing-mode: horizontal-tb;

        /* As of Mar 2016, Edge fails to calculate the width of horizontal-tb block within vertical-rl block. */
        max-width: 100vh;
      }
    }
  }
  &:lang(en) {
    text-align: left;
  }
}

.post-footer {
  @include vertical-writing {
    html.vertical-writing-recommended & {
      #disqus_thread {
        writing-mode: horizontal-tb;
        -webkit-writing-mode: horizontal-tb;
        width: 90vh;
      }
    }
  }
}

/*
 * Tag / Archive
 */
.tag-cloud {
  margin-bottom: $spacing-unit;
}
.tag {
  margin: 1px;
}
.archive {
  .archive-year-summary, .archive-month-summary {
    a {
      margin: 2px;
    }
  }
}

/*
 * About page
 */
.about-content {
  ul > li {
    list-style-type: none;
  }

  .svg-icon {
    display: inline-block;
    vertical-align: middle;
    * {
      fill: currentColor;
    }
  }
}

/*
 * Site Footer
 */
.site-footer {
  font-size: $small-font-size;
  color: $grey-color-dark;

  margin-top: $spacing-unit;
  padding-top: $spacing-unit;

  @include vertical-writing {
    html.vertical-writing-recommended & {
      margin: auto $spacing-unit auto auto;
      padding: inherit $spacing-unit inherit inherit;
    }
  }

  .footer-heading {
    float: right;
    font-weight: 800;
    letter-spacing: -1px;
    padding: 0 calc($spacing-unit / 2);
    @include vertical-writing {
      html.vertical-writing-recommended & {
        padding: calc($spacing-unit / 2) 0;
        @include media-query-vertical(640px) {
          padding: 2px;
          float: none;
        }
      }
    }
    @include media-query($on-palm) {
      padding: 2px;
      float: none;
    }
  }
}
