/* fontset */
$default-fontset: 'M+1p',
                  'Source Han Sans',
                  'Source Han Sans JP',
                  'Noto Sans CJK JP',
                  'Noto Sans JP',
                  'M+ 1p',
                  'Hiragino Kaku Gothic Std',
                  'Roboto',
                  'Arial',
                  'HGPGothicE',
                  'Yu Gothic',
                  //'YuGothic',
                  'Meiryo',
                  sans-serif;
$header-fontset:  'M+1p',
                  'Source Han Sans',
                  'Source Han Sans JP',
                  'Noto Sans CJK JP',
                  'Noto Sans JP',
                  'M+ 1p',
                  'Hiragino Kaku Gothic Std',
                  'Roboto',
                  'Arial Black',
                  'Yu Gothic',
                  //'YuGothic',
                  'Meiryo',
                  sans-serif;
$code-fontset:    'Source Code Pro',
                  //'Osaka-Mono',
                  'M+ 1m',
                  'Consolas',
                  'Droid Sans Mono',
                  monospace;

body {
  font-family: $default-fontset;
  font-weight: 300;
  font-size: 12px;
  @media (min-width: 480px) {
    font-size: 16px;
  }
  @media (min-width: 48em) {
    font-size: 18px;
  }
}
h1, h2, h3, h4, h5, h6,
.home .post-link {
  font-family: $header-fontset;
  font-weight: 900;
}
pre, code, samp, kbd {
  font-family: $code-fontset;
}
pre, figcaption, table caption {
  @media (min-width: 480px) {
    font-size: smaller;
  }
}
em {
  font-weight: bolder;
  font-style: italic;
}
:lang(ja) em {
  font-style: normal;
  -webkit-text-decoration-style: double;
  -moz-text-decoration-style: double;
  text-decoration-style: double;
  -webkit-text-decoration-line: underline;
  -moz-text-decoration-line: underline;
  text-decoration-line: underline;
}
strong {
  font-weight: 900; 
  font-style: normal;
}
